@page
@model EventApplication.Pages.EventRecommendedModel
@{
}
<html>
    <head>
        <title>Event Recommended</title>
    </head>

    <body>
        <p><strong>Interest 1: </strong></p>
        <p><strong>Interest 2: </strong></p>
        <p><strong>Interest 3: </strong></p>

    </body>
</html>