@page
@model EventApplication.Pages.EventSearchModel
@{
    ViewData["Title"] = "Events";
}

<html>
    <style>
    .title {
        text-align: center;
    }
    
    }
    </style>
    <div class="title">
        <h1>@ViewData["Title"]</h1>
            <!--SearchBar-->
            <form method = "get">
                <div class = "input-group">
                    <input class = "form-control" placeholder = "Search..." form = "SearchTerm" />
                    <div class = "input-group-append">
                        <button class = "btn btn-primary" type = "submit">
                            Search
                        </button>
                    </div>
                </div>
            </form>
        </div>
</html>