@page
@model EventApplication.Pages.SignupModel
@{
    ViewData["Title"] = "Sign Up";

}

@*This is an example of a forms input*@
@*References for types of form input can be found at https://www.learnrazorpages.com/razor-pages/forms*@

<div class="container mt-5">
    <div class="row justify-content-center align-align-items-center">
        <div class="col-sm-12 col-md-12 col-lg-4">
            <h1 class="mb-3">Register</h1>

            <form method= "post">
                <div asp-validation-summary="All" class="text-danger"></div>
                <!--First Name-->
                <div class="mb-3">
                    <label class="form-label" asp-for="Model.firstName">First Name</label>
                    <input type="text" asp-for="Model.firstName" class="form-control" />
                    <span onformchange="Model.firstName" class="text-danger"></span>
                </div>
                <!--Last Name-->
                <div class="mb-3">
                    <label class="form-label" asp-for="Model.lastName">Last Name</label>
                    <input type="text" asp-for="Model.lastName" class="form-control" />
                    <span onformchange="Model.lastName" class="text-danger"></span>
                </div>
                <!--Gender-->
                <div class="mb-3">
                    <label class="form-label" asp-for="Model.Gender">Gender</label>
                    <input type="text" asp-for="Model.Gender" class="form-control" />
                    <span onformchange="Model.Gender" class="text-danger"></span>
                </div>
                <!--State-->
                <div class="mb-3">
                    <label class="form-label" asp-for="Model.State">State</label>
                    <input type="text" asp-for="Model.State" class="form-control" />
                    <span onformchange="Model.State" class="text-danger"></span>
                </div>
                <!--Phone Number-->
                <div class="mb-3">
                    <label class="form-label" asp-for="Model.phoneNumber">Phone Number</label>
                    <input type="text" asp-for="Model.phoneNumber" class="form-control" />
                    <span onformchange="Model.phoneNumber" class="text-danger"></span>
                </div>
                <!--Date of Birth-->
                <div class="mb-3">
                    <label class="form-label" asp-for="Model.dateOfBirth">Date of Birth</label>
                    <input type="text" asp-for="Model.dateOfBirth" class="form-control" />
                    <span onformchange="Model.dateOfBirth" class="text-danger"></span>
                </div>
                <!--Interest One-->
                <div class="mb-3">
                    <label class="form-label" asp-for="Model.interestOne">Interest One</label>
                    <select id ="Interest1" asp-for="Model.interestOne" class="form-control" >
                        <option value = "Air">Air Sports</option>
                        <option value = "Land">Outdoors</option>
                        <option value = "Sports">Team Sports</option>
                        <option value = "Exercise">Exercise</option>
                        <option value = "Snowsports">Snowsports</option>
                        <option value = "Relaxing">Relaxation</option>
                        <option value = "Motorsports">Motorsports</option>
                        <option value = "Watersports">WaterSports</option>
                    </select>
                    <span onformchange="Model.interestOne" class="text-danger"></span>
                </div>
                <!--Interest Two-->
                <div class="mb-3">
                    <label class="form-label" asp-for="Model.interestTwo">Interest Two</label>
                    <select id ="Interest2" asp-for="Model.interestTwo" class="form-control" >
                        <option value = "Air">Air Sports</option>
                        <option value = "Land">Outdoors</option>
                        <option value = "Sports">Team Sports</option>
                        <option value = "Exercise">Exercise</option>
                        <option value = "Snowsports">Snowsports</option>
                        <option value = "Relaxing">Relaxation</option>
                        <option value = "Motorsports">Motorsports</option>
                        <option value = "Watersports">WaterSports</option>
                    </select>
                    <span onformchange="Model.interestTwo" class="text-danger"></span>
                </div>

                <!--Interest Three-->
                <div class="mb-3">
                    <label class="form-label" asp-for="Model.interestThree">Interest Three</label>
                    <select id ="Interest3" asp-for="Model.interestThree" class="form-control" >
                        <option value = "Air">Air Sports</option>
                        <option value = "Land">Outdoors</option>
                        <option value = "Sports">Team Sports</option>
                        <option value = "Exercise">Exercise</option>
                        <option value = "Snowsports">Snowsports</option>
                        <option value = "Relaxing">Relaxation</option>
                        <option value = "Motorsports">Motorsports</option>
                        <option value = "Watersports">WaterSports</option>
                    </select>

                    <span onformchange="Model.interestThree" class="text-danger"></span>
                </div>

                <!--Email-->
                <div class="mb-3">
                    <label class="form-label" asp-for="Model.Email">Email</label>
                    <input type="text" asp-for="Model.Email" class="form-control" />
                    <span onformchange="Model.Email" class="text-danger"></span>
                </div>

                <!--Date of Birth-->
                <div class="mb-3">
                    <label class="form-label" asp-for="Model.Password">Password</label>
                    <input type="password" asp-for="Model.Password" class="form-control" />
                    <span onformchange="Model.Password" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label class="form-label" asp-for="Model.confirmPassword">Confirm Password</label>
                    <input type="password" asp-for="Model.confirmPassword" class="form-control" />
                    <span onformchange="Model.confirmPassword" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <button type="submit" class="btn btn-primary">Register</button>
                </div>
            </form>
        </div>
    </div>
</div>
